.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Styles pour le message de bienvenue */
.welcome-message {
    color: #FF5C00;
    font-size: 28px;
    margin-top: 20px;
  }

  /* Styles pour l'image de marque Carambar */
  header img {
    width: 600px;
    height: auto;
  }
  
  /* Styles pour le titre */
  h1 {
    color: #FF5C00;
    font-size: 24px;
    margin-top: 20px;
  }
  
  /* Styles pour la blague */
  #joke {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles pour le bouton */
  #getJokeButton {
    background-color: #FF5C00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #getJokeButton:hover {
    background-color: #FF33AF
  }

  body {
    background: linear-gradient(to bottom, #FFCC00, #FFFFCC);
  }

  /* Styles pour les droits d'auteur */
.copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #777;
    font-size: 12px;
  }

  /* Styles pour le message explicatif */
.message {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
  }